{% extends "base.html" %}

{% block content%}
  <h1>Katie's Library</h1>
  <div class="book-container">
  {% for book in books %}  
  <div class="book">
    <h2>
      <a href="/books/{{loop.index0}}">{{ book.title }}</a> 
    </h2>
    <p>
        <b>Author : {{ book.author }}</b> 
    </p>
    <p>
        Genre : {{ book.genre}}
    </p>
    <p>
        Checked Out:
        {% if book.checked_out %}
        <span> &#9989;</span>
        {% else %}
        <span>&#10060;</span>
        {% endif %}
    </p>
    <form class="form-inline" action="/books/check_out/{{book.title}}" method="POST">
        <input type="submit" value="Check Out Book">
    </form>
    <form class="form-inline" action="/books/check_in/{{book.title}}" method="POST">
        <input type="submit" value="Check In Book">
    </form>
    <form class="form-inline" action="/books/remove/{{ book.title }}" method="POST">
        <input type="submit" value="Remove">
    </form>
  </div>
  {% endfor %}
  </div>
{%endblock%}
